<%- include('./partials/header') %>
<div class="center-absolute">
    <h1>FileStash</h1>
    <div class="container text-center">
        <p class="error-title">An error has occured</p>
        <%- error %>
    </div>
</div>
<%- include('./partials/footer') %>