<%- include('./partials/header') %>
<div class="center-absolute">
    <div class="container">
        <div>
            <form id="upload-form" enctype="multipart/form-data">
                <div class="text-center">
                    <label class="file-input-btn" id="file-input-btn" for="file">Select a file</label>
                    <input class="file-input" name="file" type="file" id="file">
                </div>
            </form>

            <div class="file-detail">
                <p class="text-center">
                    Selected file:
                    <span class="d-block" id="file-name" style="text-overflow: ellipsis;">
                        <i>NONE</i>
                    </span>
                </p>
                <p class="text-center">
                    Size:
                    <span class="d-block" id="file-size">
                        <i>NONE</i>
                    </span>
                </p>
            </div>

            <button class="btn d-block m-auto" id="upload">Upload</button>
        </div>
    </div>
</div>
<%- include('./partials/scripts') %>
<script src="/static/js/upload.js"></script>
<%- include('./partials/footer') %>